<div class="login-wrapper">

  <!-- Lado Izquierdo -->
  <div class="login-left">
    <div class="logo-box">
      <img src="https://copilot.microsoft.com/th/id/BCO.e657d4e2-a373-4b52-bec3-5741c8275507.png" alt="Logo" class="logo-image">
    </div>
  </div>

  <!-- Lado Derecho -->
  <div class="login-right">

    <div class="role-selector">
      <button type="button" class="role-btn" 
              [class.active]="selectedRole === 'usuario'" 
              (click)="seleccionarRol('usuario')">
        USUARIO
      </button>
      <button type="button" class="role-btn" 
              [class.active]="selectedRole === 'admin'" 
              (click)="seleccionarRol('admin')">
        ADMIN
      </button>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <label class="input-label">
        {{ selectedRole === 'usuario' ? 'Usuario' : 'Usuario Admin' }}
      </label>
      <input type="text" class="input-field" formControlName="usuario" 
             [placeholder]="selectedRole === 'usuario' ? 'Numero de control...' : 'Usuario...'">

      <label class="input-label">Contraseña</label>
      <input type="password" class="input-field" formControlName="contrasena" placeholder="Password...">

      <div class="buttons">
        <button type="submit" class="btn-dark">ACCEDER</button>

        <button *ngIf="selectedRole === 'usuario'" type="button" class="btn-light" (click)="irACrearCuenta()">CREAR CUENTA</button>
        <button *ngIf="selectedRole === 'usuario'" type="button" class="btn-red" (click)="olvideContrasena()">OLVIDÉ MI CONTRASEÑA</button>
      </div>

    </form>

  </div>
</div>