<div class="register-wrapper">

  <!-- Lado Izquierdo -->
  <div class="register-left">
    <div class="logo-box">
      <img src="https://copilot.microsoft.com/th/id/BCO.e657d4e2-a373-4b52-bec3-5741c8275507.png" alt="Logo" class="logo-image">
    </div>
  </div>

  <!-- Lado Derecho -->
  <div class="register-right">
    <h2 class="title">Crear Cuenta</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <label class="input-label">Nombre completo</label>
      <input type="text" class="input-field" formControlName="nombre" placeholder="Tu nombre completo...">

      <label class="input-label">Número de control</label>
      <input type="text" class="input-field" formControlName="numControl" placeholder="Ej. 123456">

      <label class="input-label">Carrera</label>
      <input type="text" class="input-field" formControlName="carrera" placeholder="Tu carrera...">

      <label class="input-label">Número de celular</label>
      <input type="text" class="input-field" formControlName="celular" placeholder="Ej. 55 1234 5678">

      <label class="input-label">Contraseña</label>
      <input type="password" class="input-field" formControlName="contrasena" placeholder="Escribe tu contraseña">

      <label class="input-label">Confirmar contraseña</label>
      <input type="password" class="input-field" formControlName="confirmContrasena" placeholder="Repite tu contraseña">

      <div class="buttons">
        <button type="submit" class="btn-dark">CREAR CUENTA</button>
        <button type="button" class="btn-light" (click)="volverLogin()">VOLVER</button>
      </div>

    </form>
  </div>

</div>
