<div class="contenedor-formulario">
  <h2>Consulta de Solicitudes de Mantenimiento</h2>
  <div class="tabla-contenedor">
    <table>
      <thead>
        <tr>
          <th>N°</th>
          <th>Fecha</th>
          <th>Marca</th>
          <th>Color</th>
          <th>Sistema Operativo</th>
          <th>Título</th>
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let solicitud of solicitudes">
          <td>{{ solicitud.numero }}</td>
          <td>{{ solicitud.fecha }}</td>
          <td>{{ solicitud.marca }}</td>
          <td>{{ solicitud.color }}</td>
          <td>{{ solicitud.so }}</td>
          <td>{{ solicitud.titulo }}</td>
          <td>{{ solicitud.estatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
