<div class="forgot-wrapper"> 

  <div class="forgot-left">
    <div class="logo-box">
      <img src="https.../logo.png" alt="Logo" class="logo-image">
    </div>
  </div>

  <div class="forgot-right">

    <h2 class="title">Recuperar Contraseña</h2>

    <!-- PRIMER FORMULARIO: Validar usuario -->
    <form *ngIf="paso === 1" [formGroup]="forgotForm" (ngSubmit)="revisarUsuario()">

      <label class="input-label">Número de control</label>
      <input type="text" formControlName="numControl" class="input-field">

      <label class="input-label">Número de celular</label>
      <input type="text" formControlName="celular" class="input-field">

      <label class="input-label">Respuesta de seguridad</label>
      <input type="text" formControlName="respuestaSeguridad" class="input-field">

      <div class="buttons">
        <button type="submit" class="btn btn-primary">RECUPERAR</button>
        <button type="button" class="btn btn-secondary" (click)="volverLogin()">VOLVER</button>
      </div>

    </form>

    <!-- SEGUNDO FORMULARIO: Cambiar contraseña -->
    <form *ngIf="paso === 2" [formGroup]="resetForm" (ngSubmit)="actualizarPassword()">

      <label class="input-label">Nueva contraseña</label>
      <input type="password" formControlName="password" class="input-field">

      <label class="input-label">Confirmar contraseña</label>
      <input type="password" formControlName="password2" class="input-field">

      <div class="buttons">
        <button type="submit" class="btn btn-primary">ACTUALIZAR</button>
      </div>
    </form>

    <div class="result" *ngIf="mensaje">
      {{ mensaje }}
    </div>
  </div>
</div>
