body {
  background: linear-gradient(270deg, #000000, #ffffff, #000000, #ffffff);
  background-size: 900% 900%;
  animation: animFondo 25s ease infinite;
  font-family: 'Segoe UI', sans-serif;
}

/* Animación del fondo */
@keyframes animFondo {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

